<?xml version='1.0' encoding='utf-8'?>
<widget id="io.jumpyjacko.resentral" version="1.0.0" defaultlocale="en-US" android-versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>reSentral</name>
    <description>A Sentral replacement app.</description>
    <author email="" href="https://github.com/JumpyJacko">
        Jackson Ly
    </author>
    <icon src="./www/img/logo.png"/>
    <preference name="NavigationBarBackgroundColor" value="#434C5E" />
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
