@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
    background-color: #2E3440;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: #ECEFF4;
}

a {
    color: #81A1C1;
    width: 100;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rai-container {
    text-align: center;
}

.header {
    display: flex;
    height: 114px;
    padding-bottom: 15px;
}

/* Timetable Page Styles */
.timetable-title {
    position: absolute;
    width: 187px;
    left: 23px;
    top: 20px;

    font-size: 36px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dayoftheweek {
    position: absolute;
    right: 23px;
    top: 88px;

    font-size: 18px;

    text-align: right;
}

.timetable-container {
    padding-bottom: 150px;
}

.timetable-card-container {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    margin-left: 23px;
    margin-right: 23px;
}

/* Timetable Card Styles */
.timetable-card {
    display: flex;
    position: relative;
    height: 84px;
    flex-grow: 2;
    margin-right: calc(10px + 2vmin);

    color: #ECEFF4;
    background: rgba(76, 86, 106, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-block {
    width: 10px;
    height: 84px;
    background: #3B4252;
}

.timetable-text {
    padding-left: 8px;
    width: 226px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.timetable-class {
    font-size: 24px;
}

.timetable-room {
    font-size: 14px;
    color: #D7D7D7;
}

.timetable-teacher {
    font-size: 18px;
}

.timetable-times {
    position: absolute;
    top: 54px;
    right: 8px;

    font-size: 14px;
    color: #D7D7D7;
    line-height: 25px;

    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Period Card Styles */
.period {
    display: flex;
    width: 67px;
    height: 84px;
    right: 23px;
    top: 0px;

    background: #323946;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ECEFF4;
    font-size: 36px;

    text-align: center;
    align-items: center;
    justify-content: center;
}

/* Separator Styles */
.separator {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
}

.separator-bar {
    flex-grow: 1;
}

/* Announcements Card Styles */
.announcement-container {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 150px;
    margin-left: 23px;
    margin-right: 23px;
}

.announcement-card {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    background: #434C5E;
    
    min-width: 0;
    margin-bottom: 15px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.announcement-side-block {
    min-width: 10px;
    height: 100;
    background: #3B4252;
}

.announcement-text {
    padding-left: 8px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;

    min-width: 0;
}

.announcement-author {
    font-size: 18px;
    color: #D7D7D7;

    min-width: 0;
}

.announcement-title {
    font-size: 24px;

    min-width: 0;
}

.announcement-body {
    font-size: 16px;
    min-width: 0;
}

/* Settings */
.login {
    margin-bottom: 150px;
    margin-left: 23px;
    margin-right: 23px;

    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtext {
    font-size: 16px;
    color: #D7D7D7;
}
